<strong><%= flash[:notice] %></strong><br>

<% if logged_in? %>
<%= link_to 'Logout', logout_path %>
<% else %>
<%= link_to 'Login', login_path %>
<% end %>
<br>
<p><%= 'Welcome to the Service Provider sample app!' %></p>
<p><%= "Your username is #{@user.login}"%></p>

<p><%= link_to 'Your Photos', user_photos_path(@user) %></p>

<p><%= link_to 'See which Third-Party Apps have access to your resources', oauth_tokens_path %></p>

<p><%= link_to 'See which Third-Party Apps you have registered', oauth_clients_path %></p>