<%= link_to 'Back to Dashboard', dashboard_path %>

<h3>Listing photos</h3>

<table>
  <tr>
    <th>Parent</th>
    <th>Content type</th>
    <th>Filename</th>
    <th>Thumbnail</th>
    <th>Size</th>
    <th>Width</th>
    <th>Height</th>
  </tr>

<% for photo in @photos %>
  <tr>
    <td><%=h photo.parent_id %></td>
    <td><%=h photo.content_type %></td>
    <td><%=h photo.filename %></td>
    <td><%=h photo.thumbnail %></td>
    <td><%=h photo.size %></td>
    <td><%=h photo.width %></td>
    <td><%=h photo.height %></td>
    <td><%= link_to 'Show', user_photo_path(@user, photo) %></td>
    <td><%= link_to 'Edit', edit_user_photo_path(@user, photo) %></td>
    <td><%= link_to 'Destroy', user_photo_path(@user, photo), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New photo', new_user_photo_path(@user) %><br>
