<h1>New photo</h1>

<% form_for([@user, @photo], :html => {:multipart => :true}) do |f| %>
  <%= f.error_messages %>
  <p><%= f.label :file_field, 'Upload a Photo' %></p>
  <p><%= f.file_field :uploaded_data %></p>
  <%= f.submit 'Upload' %>
<% end %>

<%= link_to 'Back', user_photos_path(@user) %>
