<%= link_to 'Back to OAuth Clients Index', oauth_clients_path %>

<h1>Register a new application</h1>
<% form_for :client_application, :url => { :action => :create } do |f| %>
	<%= f.error_messages %>
	
	<p>
	<%= f.label :name, 'Name*' %>
	<%= f.text_field :name %>
	</p>
	
	<p>
	<%= f.label :url, 'Main Application URL*' %>
	<%= f.text_field :url %>
	</p>
	
	<p>
	<%= f.label :callback_url, 'Callback URL*' %>
	<%= f.text_field :callback_url %>
	</p>
	
	<p>
	<%= f.label :support_url, 'Support URL' %>
	<%= f.text_field :support_url %>
	</p>
	
	<h2>Which resources would you like to have access to?</h2>
	<% for resource in @resources %>
	<p>
	<%= resource.name.humanize %> 
	<%= check_box_tag 'client_application[resource_ids][]', resource.id %>
	</p>
	<% end %>
	
	<%= f.submit "Register" %>
<% end %>